.header-li{
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
}

.header-li p{
    display: inline-block;
    margin-right: 10px;
    /* Optional: Set width, margin, padding as needed */
}